@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.COURSOR{
    cursor: grab;
}
/* HEADER */
.slide-1{
    background-image: url('images/banner.png');   
}
.slide-2{
    background-image: url('/images/deco.jpg'); 
}
.slide-3{
    background-image: url('images/khana.jpg');
}
.sl{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 71vh;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: overlay;
}
/* MAIN */

/* TOAST */
.toasted{
    right: 0;
    bottom: 150px;
    border-left: 5px solid;
    border-image: linear-gradient(#007CFF,#3F87F5);
    border-image-slice: 1;
}
/* PACK */
.package h2{
    
    font-weight: 600;
    color: #0A0826;
    margin-top: 90px !important;
    margin-bottom: 70px !important;
}

.COURSOR{
    cursor: pointer;
}

.header-clr{
    
    color: #231D4F;
    font-weight: 700;
}

.card p{
    color: #848199;
    font-size: 15px;
   
}

.card .button{
    padding: 8px 60px;
    border-radius: 20px;
    background-color: #ffe7f6a8;
    text-decoration: none;
    color: #3f88f5c9;
}

.fa-check-circle{
    padding-right: 7px;
    color: #b8b1f1;
    
}
.highlight-no3{
    background-color: #3F87F5;
    border-radius: 26px;
    box-shadow: 0px 10px 9px 9px #accbfa85;
    margin-bottom: 18px !important;
    top: 0;
}

.highlight-no3 h3, .highlight-no3 h4, .highlight-no3 p{
    color: white !important;
}

.highlight-no3 .fa-check-circle{
    color: #8eb6f1;
}

.highlight-no3 .button{
    background-color: white;
}
/* HOT */
.top{
    position: relative;
 transform: translateY(-60px);
 margin-top: 30px !important;
}
.top-up{
    position: absolute;
    background-color: #FF4E4E;
    border-radius: 20px;
   bottom: 100px;
    right: -10px;

}
/* OWN PART */
.icon-clr{
    color: rgb(102, 99, 99);
}
/* FOOTER */
.mt{
    margin-top: 100px;
}